*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url("image.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;


}
.logo{
    width: 120px;
    cursor: pointer;

}
button{
    color: #fff;
    padding: 10px 25px;
    border: 2px solid #fff;
    border-radius: 22px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}
.nav{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.main{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translateY(-50%);

}
h1{
    font-size: 65px;
    margin: 10px 0 30px;

}
small{
    font-size: 17px;
    text-transform: capitalize;
    letter-spacing: 1.8px;
    
}